extends layout

block content
  h1= title
  - let Olives  = results;
  div(class="container-fluid mt-3 mystyle")
    - let create = `dispatch(\"/Olives/create\")`
    button.btn(class="btn-secondary ml-1", onClick=create) Create New Olives
    div(class="row m-1 paddingcustom")
      each item in Olives
        - let destination = `dispatch(\"/Olives/update/?id=${item._id}\")` 
        - let detail = `dispatch(\"/Olives/detail/?id=${item._id}\")`
        - let deleteItem = `dispatch(\"/Olives/delete/?id=${item._id}\")`
        div(class="col-sm-5 values") #{item.Olives_color} - #{item.Olives_quantity} - #{item.Olives_cost}
          button.btn( class="btn-primary buttonCustom", onclick= destination) Update
          button.btn( class="btn-success buttonCustom", onclick= detail) Details
          button.btn( class="btn-danger buttonCustom", onclick= deleteItem) Delete
    
    script.
      function dispatch(path){ 
        window.location.href=path 
      }