extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let OlivesID = toShow._id
    - let Olives_color = toShow.Olives_color
    - let Olives_quantity = toShow.Olives_quantity
    - let Olives_cost = toShow.Olives_cost

    - let actionid = "/resource/Olives/" + OlivesID
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='costumeAttr mr-3') Olives ID is:
        div #{OlivesID}
      div.row
        div(class='costumeAttr mr-3') Olives Type is:
        div #{Olives_color}
      div.row
        div(class='costumeAttr mr-3') Olives Olives_quantity is:
        div #{Olives_quantity}
      div.row
        div(class='costumeAttr mr-3') Olives Olives_cost is:
        div #{Olives_cost}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the costume collection
      window.location.href='/Olivess'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/Olivess'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }